{% extends "index.html" %} {% block categories %}

<div class="container mx-auto px-4 py-8">
  <h2 class="text-center font-bold text-[18px] md:text-[32px] text-black">
    Categories
  </h2>
  <div class="flex justify-end mt-[50px]">
    <a href="/categories/create">
        <button class="px-[12px] py-[8px] bg-black text-white shadow rounded-md text-sm">Create Category</button>
    </a>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-[10px]">
    {% for category in categories %}
    <div class="bg-white text-white p-4 rounded-lg shadow-lg">
      <div class="flex items-center gap-2">
        <div
          class="w-[45px] h-[45px] rounded-full flex justify-center items-center bg-black text-white text-[18px] font-bold"
        >
          <p>{{category.name | slice:'0:2'}}</p>
        </div>
        <h1 class="text-[18px] font-bold text-black">{{category.name}}</h1>
      </div>
      <div class="p-3">
        <h1 class="text-black font-semibold text-base">Description:</h1>
        <p class="text-gray-800 text-[14px]">{{category.description}}</p>
        <h1 class="text-purple-900 text-[18px] font-bold mt-[10px]">Total Events: <span class="text-black font-bold">{{category.total_events}}</span></h1>
      </div>

    </div>
    {% endfor %}
  </div>
</div>

{% endblock categories %}
