{% extends "main.html" %}

{% block home %}

<div>
    {% block dashboard %}{% endblock dashboard %}
        
    {% block events %}{% endblock events %}
    {% block event_details %}{% endblock event_details %}
    {% block event_form %}{% endblock event_form %}

    {% block categories %}{% endblock categories %}
    {% block category_form %}{% endblock category_form %}

    {% block Participants %}{% endblock Participants %}
    {% block participant_form %}{% endblock participant_form %}
</div>

{% endblock home %}